@font-face {
	font-family: "Mulish";
	src: local("Mulish"),
		url("./fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: local("Raleway"),
		url("./fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: local("Mulish"),
		url("./fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
	unicode-range: U+30-39;
}

.f-fm {
	font-family: "Mulish";
}

.f-rl {
	font-family: "Raleway";
}

body {
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #928382;
	background-repeat: no-repeat;
}

label.form {
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 150%;
	color: #777777;
}

label.form1 {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #777777;
}

div.body-bg {
	height: 100%;
	width: auto;
	background: url("/public/images/woman-wellness-center-during-skin-treatment\ 1.png");
	background-color: #928382;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/* justify-content: center; */
}

/* div.body-bg > * > *,
div.body-bg > *,
div.body-bg > * > * > *
 {
	margin-left: 0;
	margin-right: 0;
} */

.btnselect {
	content: url("/public/images/select.png");
	cursor: pointer;
}

.btnryft {
	content: url("/public/images/stripe.png");
	cursor: pointer;
}

.btnnext {
	content: url("/public/images/next.png");
	cursor: pointer;
}

.btnadd {
	content: url("/public/images/add.png");
	cursor: pointer;
}

.btncreate {
	content: url("/public/images/create.png");
	cursor: pointer;
}

.body-bg-clinic-s1 {
	/* height: 100vh;
  width: auto; */
	content: url("/public/images/clinic.png");
	/* no-repeat fixed right;*/
	/* linear-gradient(#FFFFFF, #FFFFFF);*/
}

.body-bg-clinic-s2 {
	/* height: 100vh;
  width: auto; */
	content: url("/public/images/doctor.png");
	/* no-repeat fixed right;*/
	/* linear-gradient(#FFFFFF, #FFFFFF);*/
}

.body-bg-clinic-s3 {
	/* height: 100vh;
  width: auto; */
	content: url("/public/images/Maskgroup.png");
	/* no-repeat fixed right;*/
	/* linear-gradient(#FFFFFF, #FFFFFF);*/
}
.body-bg-clinic-patientreset {
	content: url("/public/images/Rectangle141.png");
}

.body-bg-clinic-s4 {
	/* height: 100vh;
  width: auto; */
	content: url("/public/images/Maskgroup1.png");
	/* no-repeat fixed right;*/
	/* linear-gradient(#FFFFFF, #FFFFFF);*/
}

.body-bg-clinic-s5 {
	/* height: 100vh;
  width: auto; */
	content: url("/public/images/Maskgroup2.png");
	/* no-repeat fixed right;*/
	/* linear-gradient(#FFFFFF, #FFFFFF);*/
}

.body-bg-clinic-s6 {
	/* height: 100vh;
  width: auto; */
	content: url("/public/images/Maskgroup3.png");
	/* no-repeat fixed right;*/
	/* linear-gradient(#FFFFFF, #FFFFFF);*/
}

.body-bg-clinic-s7 {
	/* height: 100vh;
  width: auto; */
	content: url("/public/images/chooseplan.png");
	/* no-repeat fixed right;*/
	/* linear-gradient(#FFFFFF, #FFFFFF);*/
}

/* img.rectangle {
	content: url("/public/images/Rectangle\ 5.png");
} */

.googleButton-sm {
	background-image: url("/public/images/g.png");
	background-size: 29px 30px;
	background-position: 15% 54%;
	background-repeat: no-repeat;
}

.faceBookButton-sm {
	background-image: url("/public/images/f.png");
	background-size: 45px 45px;
	background-position: 15% 54%;
	background-repeat: no-repeat;
}

img.aelogo {
	content: url("/public/images/Aes2ALPHA.png");
}

img.continuelogo {
	content: url("/public/images/Continue.png");
}

img.aetext {
	content: url("/public/images/Aesthetik.png");
}

img.aebtext {
	content: url("/public/images/Aesthetikb.png");
}

img.signupbtngrey {
	content: url("/public/images/signupgrey.png");
	cursor: no-drop;
}

img.signupbtn {
	content: url("/public/images/signup.png");
	cursor: pointer;
}

img.letsstart {
	content: url("/public/images/startbutton.png");
	cursor: pointer;
}

img.emaillogo {
	display: block;
	height: 80px;
	width: 80px;
	content: url("/public/images/email.png");
}

.input-group-text {
	padding: 0.975rem 0.75rem !important;
}

.mt-p18 {
	margin-top: 1.8rem !important;
}

.col-w12 {
	flex: 0 0 auto;
	width: 14.683555%;
}

.pb-eform {
	padding-bottom: 12px !important;
}

.pb-50rem {
	padding-bottom: 50rem !important;
}

.pb-10rem {
	padding-bottom: 10rem !important;
}

.pb-6rem {
	padding-bottom: 6rem !important;
}
.pb-2rem {
	padding-bottom: 2rem !important;
}
.mb-n15 {
	margin-bottom: -10px;
}

.pt-1rem {
	padding-top: 1rem !important;
}

.pt-0p7rem {
	padding-top: 0.7rem !important;
}

.pt-2rem {
	padding-top: 2rem !important;
}

.pt-3rem {
	padding-top: 3rem !important;
}

.pt-4rem {
	padding-top: 4rem !important;
}

.pt-esisu {
	padding-top: 1.813rem !important;
}

.pt-esisug {
	padding-top: 7.375rem !important;
}

.pt-elet {
	padding-top: 1.875rem !important;
}

.pt-ef {
	padding-top: 3.125rem !important;
}

.pt-esignup {
	padding-top: 8.313rem !important;
}

.pt-elte {
	padding-top: 5.375rem !important;
}

.pt-slgg {
	padding-top: 6.625rem !important;
}

.pt-slggff {
	padding-top: 1.563rem !important;
}

.pt-slfft {
	padding-top: 4.375rem !important;
}

.pt-sltg {
	padding-top: 18.375rem !important;
}

.pt-slgt {
	padding-top: 2.25rem !important;
}

.pt-slte {
	padding-top: 5.563rem !important;
}

.pt-slet {
	padding-top: 4.25rem !important;
}

.pt-ssignup {
	padding-top: 10.25rem !important;
}

.pt-6 {
	padding-top: 4.8rem !important;
}

.pt-7 {
	padding-top: 7rem !important;
}

.pt-8 {
	padding-top: 8rem !important;
}

.pt-9 {
	padding-top: 9.9rem !important;
}
.pt-10 {
	padding-top: 10.9rem !important;
}
.pt-20 {
	padding-top: 15.9rem !important;
}
.pl-2 {
	padding-left: 2rem !important;
}

.pl-29p {
	padding-left: 29%;
}

.pl-22p {
	padding-left: 22%;
}

.pl-190px {
	padding-left: 190px;
}

.pl-77px {
	padding-left: 77px;
}

.pl-180px {
	padding-left: 180px;
}

.pl-65px {
	padding-left: 65px;
}

.aemt-1 {
	margin-top: 1px !important;
}

.aemt-2 {
	margin-top: 2px !important;
}

.aemt-3 {
	margin-top: 3px !important;
}

.aemt-4 {
	margin-top: 4px !important;
}

.aemt-5 {
	margin-top: 5px !important;
}
.aemt-6 {
	margin-top: 6px !important;
}

.aemt-3rem {
	margin-top: 3rem !important;
}

.aemt-2rem {
	margin-top: 2rem !important;
}

.fo-bb-2 {
	border-bottom: 0.5px solid #d6d6d6;
}

.btn-aawarning {
	font-family: "Raleway-SemiBold";
	font-size: 13px;
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 15px;
	border: 2px solid #af805e;
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease 0s;
}
.btn-rounded-black {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 53px;
	border-radius: 42px;
	background: transparent;
	transition: all 0.3s ease 0s;
	background-color: #000000;
	border: 0px;
	padding-left: 55px;
	padding-right: 55px;
	height: 59px;
	width: 286px;
}
.btn-rounded-white-download {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	letter-spacing: 1px;
	line-height: 53px;
	border-radius: 42px;
	background: transparent;
	transition: all 0.3s ease 0s;
	background-color: #ffffff;
	border: 0px;
	padding-left: 55px;
	padding-right: 55px;
	height: 59px;
	width: 286px;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.btn-rounded-white-download:hover {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	letter-spacing: 1px;
	line-height: 53px;
	border-radius: 42px;
	background: transparent;
	transition: all 0.3s ease 0s;
	background-color: #ffffff;
	border: 0px;
	padding-left: 55px;
	padding-right: 55px;
	height: 59px;
	width: 286px;
	text-decoration: none;
	padding-top: 5px;
}
.btn-rounded-white {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	letter-spacing: 1px;
	line-height: 53px;
	border-radius: 42px;
	background: transparent;
	transition: all 0.3s ease 0s;
	background-color: #ffffff;
	border: 0px;
	padding-left: 55px;
	padding-right: 55px;
	height: 59px;
	width: 286px;
	text-decoration: none;
}

.btn-rounded-white:hover {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 20px;
	color: #000000;
	letter-spacing: 1px;
	line-height: 53px;
	border-radius: 42px;
	background: transparent;
	transition: all 0.3s ease 0s;
	background-color: #ffffff;
	border: 0px;
	padding-left: 55px;
	padding-right: 55px;
	height: 59px;
	width: 286px;
	text-decoration: none;
}

.btn-rounded-bselect .b1 {
	padding-left: 60px;
	display: inline-block;
}
.btn-rounded-bselect .b2 {
	padding-left: 140px;
	display: inline-block;
}
.btn-rounded-bselect {
	background: #ffffff !important;
	box-shadow: 0px 4px 20px rgb(0 0 0 / 5%) !important;
	border-radius: 40px !important;
	font-family: "Mulish" !important;
	font-style: normal !important;
	font-weight: 600 !important;
	font-size: 20px !important;
	color: #000000 !important;
	border: 0px !important;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 55px;
	text-align: left;
	width: 556px;
}

.sec-header h2 {
	font-size: 30px;
	margin-bottom: 0;
	font-weight: 700;
	color: #ffffff;
}

.sec-header {
	margin-bottom: 40px;
	text-align: center;
}

.clinic-section {
	padding: 50px 0 20px;
}

.sec-header .bottom-border {
	border-top: 3px solid #af805e;
	width: 75px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	display: inline-block;
	border-radius: 150px;
}

.sec-header .bottom-border:after {
	content: "";
	position: absolute;
	width: 12px;
	background: #928382;
	right: 4px;
	height: 3px;
	z-index: 9;
	top: -3px;
	opacity: 1;
}

.carousel {
	width: 90%;
	margin: 0px auto;
}

.slick-slide {
	margin: 10px;
}

.slick-slide img {
	width: 100%;
}

.slick-prev,
.slick-next {
	background: #000;
	border-radius: 15px;
	border-color: transparent;
}

.card {
	border: 2px solid #fff;
	box-shadow: 1px 1px 15px #ccc;
}

.card-body {
	background: #fff;
	width: 100%;
	vertical-align: top;
}

.card-content {
	text-align: left;
	color: #333;
	padding: 15px;
}

.card-text {
	font-size: 14px;
	font-weight: 300;
}

.btn-aawarning:hover {
	color: #ffffff;
	background: #af805e;
	border: 2px solid #af805e;
}

div#navbarColor01 {
	padding-left: 60px;
}

.btndropdown {
	border-radius: 30px 0px 0px 30px;
}

.show .dropdown-item {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.show .dropdown-divider {
	/* margin-left: 31px; */
	margin-right: 36px;
}

.bg-dark {
	background-color: #000000 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.bg-light {
	background: rgba(255, 255, 255, 0.1) !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.dropdown-menu .user {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
}

.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none !important;
	outline: none !important;
	background-image: none !important;
}

.dropdown-menu * {
	font-family: "mulish";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.dropdown-divider {
	color: #c0c0c0;
}

/* .show {padding: 10px 248px 9px 11px;}  */
.dropdown-menu a,
.dropdown-menu a:link,
.dropdown-menu a:hover,
.dropdown-menu a:visited,
.dropdown-menu a:active,
.dropdown-menu a:focus {
	color: white;
	outline: none;
	background-color: inherit;
}

.dropdown-menu {
	background-color: #232323;
	border-radius: 0px 0px 13px 12px;
	margin-top: -3px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	color: white;
	outline: none;
	background-color: inherit;
}

.nav-link-ns {
	color: #ffffff !important;
}

.nav-link-s {
	color: #fc9483 !important;
}

.navbar-dark .navbar-nav .nav-link {
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 18px !important;
	line-height: 21px !important;
	padding-left: 3rem !important;
	padding-right: 0.5rem !important;
}
.navbar-dark .navbar-nav .nav-link1 {
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 18px !important;
	line-height: 21px !important;
	margin-left: 2.5rem !important;
	text-decoration: none;
	padding-right: 0.5rem !important;
}

/*-----------------
	13. Footer
-----------------------*/

.footer {
	background-color: #101011;
}
.footer .vhr {
	transform: rotate(-90deg);
	height: 0px;
	width: 109px !important;
	border: 1px solid #ffffff !important;
	opacity: 1 !important;
	background-color: #ffffff !important;
	margin-left: 18px;
}
.footer .bighr {
	/* width: 703px !important; */
	height: 0px !important;
	border: 1px solid #ffffff !important;
	opacity: 1 !important;
}
.footer .footer-top {
	padding: 40px 0;
}

.footer.custom-footer .footer-top {
	padding: 60px 0;
}

.footer.footer-four .footer-top {
	padding: 50px 0;
}

.footer.footer-five {
	background-color: #1376ca;
}

.footer.footer-five .footer-top {
	background-color: #1376ca;
	padding: 60px 0;
}

.footer.footer-five .footer-bottom .copyright {
	border-top: 1px solid #28daf4;
}

.footer.custom-footer .footer-bottom .copyright {
	border-top: 1px solid #0f4d84;
}

.footer.custom-footer .copyright-text span {
	color: #af805e;
}

.footer-title {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.footer .footer-widget.footer-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	outline: none;
}

.footer .footer-widget .footer-logo {
	margin-bottom: 30px;
}

.footer .footer-widget .footer-about-content p {
	color: #fff;
}

.footer .footer-widget .footer-about-content p:last-child {
	margin-bottom: 0;
}

.footer .footer-menu ul li {
	margin-bottom: 10px;
	position: relative;
}

.footer .footer-menu ul li:last-child {
	margin-bottom: 0;
}

.footer .footer-menu ul li a {
	color: #fff;
	font-size: 15px;
	padding-left: 20px;
	position: relative;
	transition: all 0.4s ease 0s;
	text-decoration: none;
}

.footer .footer-widget.footer-menu ul li a:hover {
	color: #fff;
	letter-spacing: 0.5px;
	padding-left: 30px;
}

.footer .footer-menu ul li a::before {
	content: "\f101";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	left: 0;
	margin-right: 5px;
	position: absolute;
	top: 0;
}

.footer-contact-info {
	color: #fff;
	font-size: 15px;
}

.footer-contact-info .footer-address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-contact-info .footer-address span {
	margin-right: 20px;
}

.footer-contact-info .footer-address span i.fa-map-marker-alt {
	font-size: 20px;
}

.footer-contact-info p i {
	margin-right: 15px;
}

.footer .footer-bottom .copyright {
	border-top: 1px solid #fa4825;
	padding: 30px 0;
}

.footer .footer-bottom .copyright-text p {
	color: #fff;
	font-size: 15px;
}

.footer .footer-bottom .copyright-text p a {
	color: #09e5ab;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.footer .footer-bottom .copyright-text p a:hover {
	color: #fff;
}

.footer .footer-bottom .copyright-text p.title {
	font-weight: 400;
	margin: 10px 0 0;
}

.footer .social-icon ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer .social-icon ul li {
	margin-right: 15px;
}

.footer .social-icon ul li:last-child {
	margin-right: 0;
}

.footer .social-icon ul li a {
	color: #fff;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 20px;
	transition: all 0.4s ease 0s;
}

.footer .social-icon ul li a:hover {
	color: #09e5ab;
}

.policy-menu {
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: right;
}

.policy-menu li {
	display: inline-block;
	margin-right: 15px;
}

.policy-menu li:last-child {
	margin-right: 0;
}

.policy-menu li a {
	color: #fff;
}

.policy-menu li a:hover,
.policy-menu li a:focus {
	color: #09e5ab;
}

.policy-menu li::after {
	color: #fff;
	content: "|";
	font-weight: 300;
	position: relative;
	left: 10px;
}

.policy-menu li:last-child::after {
	content: "";
}

.footer.footer-2 .footer-menu ul li a::before {
	display: none;
}

.footer.footer-2 .footer-menu ul li a {
	font-size: 13px;
	padding-left: 0;
}

.footer.footer-2 .footer-widget.footer-menu ul li a:hover {
	letter-spacing: 0;
	padding-left: 0;
}

.footer.footer-2 .footer-title {
	color: #af805e;
	font-size: 18px;
	margin-bottom: 10px;
}

.footer.footer-2 .footer-widget .footer-logo {
	margin-bottom: 10px;
}

.footer.footer-2 .footer-widget .footer-logo img {
	width: auto;
}

.footer.footer-2 .footer-widget .footer-about-content p {
	font-size: 13px;
}

.footer.footer-2 .footer-address p {
	font-size: 13px;
}

.footer.footer-2 .footer-contact-info {
	font-size: 13px;
}

.footer.footer-2 .footer-contact-info .footer-address span i.fa-map-marker-alt {
	font-size: 16px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	--up: 3;
	--card-margin: 12px;
	--card-shadow: rgba(46, 49, 52, 0.4);
	--color-white: #fff;
	--color-lightgrey: #ccc;
	--color-ui: #999;
	--color-ui-hover: #666;
	--cardWidth: calc(96vw / var(--up));
	--carouselWidth: calc(var(--cardWidth) * var(--num));
	--carouselLeftMargin: calc(2vw - var(--cardWidth));

	@media screen and (max-width: 900px) {
		/*basically mobile*/
		--up: 1;
	}
}

.carouselwrapper {
	overflow: hidden;
	background: var(--color-lightgrey);
	position: relative;
}

.carousel {
	width: var(--carouselWidth);
	margin: 0 0 0 var(--carouselLeftMargin);
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.carousel li {
	padding: 50px;
	text-align: center;
	width: calc(var(--cardWidth) - var(--card-margin) * 2);
	box-sizing: border-box;
}

/*-----------------
	9. Slick Slider
-----------------------*/

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.slick-track:before,
.slick-track:after {
	display: table;
	content: "";
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-prev,
.slick-next,
.pharmacy-home-slider .swiper-button-prev,
.pharmacy-home-slider .swiper-button-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	box-shadow: 1px 6px 14px rgba(0, 0, 0, 0.2);
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
	border: none;
	outline: none;
	background: #fff;
	z-index: 9999;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus,
.pharmacy-home-slider .swiper-button-prev:hover,
.pharmacy-home-slider .swiper-button-next:hover {
	background-color: #0de0fe;
	color: #fff;
	opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before,
.pharmacy-home-slider .swiper-button-prev:hover:before,
.pharmacy-home-slider .swiper-button-next:hover:before {
	color: #fff;
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
	font-family: "slick";
	font-size: 20px;
	line-height: 1;
	opacity: 0.75;
	color: #383838;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: 0;
	z-index: 1;
}

.clinic-slider .slick-list,
.browse-slider .slick-list,
.book-slider .slick-list {
	padding-top: 50px;
}

.clinic-slider .slick-prev,
.clinic-slider .slick-next,
.browse-slider .slick-prev,
.browse-slider .slick-next,
.book-slider .slick-prev,
.book-slider .slick-next {
	width: 35px;
	height: 35px;
	border-radius: 5px 12px 5px 12px;
	background-color: #af805e;
	transform: translateX(0%) rotate(-45deg);
	-webkit-transform: translateX(0%) rotate(-45deg);
	-ms-transform: translateX(0%) rotate(-45deg);
	z-index: 999;
}

.clinic-slider .slick-prev:before,
.browse-slider .slick-prev:before,
.book-slider .slick-prev:before {
	content: "";
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.clinic-slider .slick-next:before,
.browse-slider .slick-next:before,
.book-slider .slick-next:before {
	content: "";
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.clinic-slider .slick-prev:before,
.clinic-slider .slick-next:before,
.browse-slider .slick-prev:before,
.browse-slider .slick-next:before,
.book-slider .slick-prev:before,
.book-slider .slick-next:before {
	font-family: "slick";
	font-size: 10px;
	line-height: 1;
	opacity: 0.75;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: solid #ffffff;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.clinic-slider .slick-prev,
.browse-slider .slick-prev,
.book-slider .slick-prev {
	right: 80px;
	left: unset;
	top: 0;
}

.clinic-slider .slick-next,
.browse-slider .slick-next,
.book-slider .slick-next {
	right: 15px;
	left: unset;
	top: 0;
}

.clinic-slider .slick-slide,
.browse-slider .slick-slide,
.book-slider .slick-slide {
	display: block;
	margin-left: 0;
	padding: 10px;
	width: 280px;
	padding-bottom: 0;
}

.clinic-slider .profile-widget,
.browse-slider .browse-widget,
.book-slider .profile-widget {
	padding: 0;
	border: none;
	background-color: transparent;
	border-radius: 0;
}

.clinic-slider .brower-box {
	background: #ffffff;
	border: 1px solid #f2f2f2;
	box-sizing: border-box;
	box-shadow: 0px 4px 44px rgba(238, 238, 238, 0.25);
	border-radius: 10px;
	padding: 15px;
	margin: 0;
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

.clinic-slider .brower-box:hover {
	background-color: #af805e;
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}

.clinic-slider .brower-box a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85px;
	width: 85px;
	background-color: #af805e;
	border-radius: 50% 50% 50% 50% / 60% 60% 35% 35%;
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin: 0 auto;
	margin-bottom: 15px;
}

.clinic-slider .brower-box img {
	width: 70px;
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.clinic-slider .brower-box h4 {
	color: #000;
	font-size: 20px;
	margin-bottom: 13px;
}

.clinic-slider .brower-box p {
	margin-bottom: 20px;
}

.clinic-slider .brower-box .arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0ce0ff;
	width: 35px;
	height: 35px;
	margin: 0 auto;
	border-radius: 50%;
	transform: unset;
}

.clinic-slider .brower-box .img-fluid.hover {
	display: none;
}

.clinic-slider .brower-box .arrow i {
	color: #fff;
}

.clinic-slider .brower-box:hover a {
	background-color: #fff;
}

.clinic-slider .brower-box:hover .img-fluid.hover {
	display: block;
}

.clinic-slider .brower-box:hover .img-fluid {
	display: none;
}

.clinic-slider .brower-box:hover a.arrow {
	background-color: #2868c8;
}

.clinic-slider .brower-box:hover h4,
.clinic-slider .brower-box:hover p,
.clinic-slider .brower-box:hover p span {
	color: #fff;
}

.brower-box {
	text-align: center;
}

.profile-widget {
	background-color: #fff;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	padding: 15px;
}

.browse-speciality {
	padding: 50px 0 35px;
	background-color: #f8fbff;
}

.browse-widget {
	padding: 0;
}

.browse-widget > img {
	border-radius: 10px;
	width: 100%;
}

.browse-widget .overlay {
	position: absolute;
	top: 0;
	background-color: rgba(34, 100, 197, 0.8);
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.browse-widget:hover .overlay {
	background-color: rgba(36, 36, 36, 0.5);
}

.browse-widget .overlay h3 {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.browse-widget .overlay .arrows {
	position: absolute;
	bottom: -15px;
	background-color: #0ce0ff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.browse-widget .overlay .arrows i {
	color: #fff;
}

.browse-widget:hover .arrows {
	transform: translate(0, -320%);
	background-color: #ffffff;
}

.browse-widget:hover .arrows i {
	color: #1c5b90;
}

.ui {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	width: calc(100% - var(--card-margin) * 2);
	justify-content: space-between;
	padding: var(--card-margin);
	z-index: 100;
}

.ui button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--color-ui);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: var(--color-white);
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
	border: 0;
	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.material-icons {
	font-size: 4.8rem;
}

p {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 1.4rem;
	margin-bottom: 0;
}

.card {
	box-shadow: 0px 1px 2px 0px var(--card-shadow);
	border-radius: 4px;
	margin: var(--card-margin);
	background: var(--color-white);
}

.scard {
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.02);
	border-radius: 10px;
}

@keyframes next {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(calc(0px + var(--cardWidth)));
	}
}

@keyframes prev {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(calc(0px - var(--cardWidth)));
	}
}

@media only screen and (max-width: 642px) and (min-width: 578px) {
	.mt-n1 {
		margin-top: -1rem;
	}

	.mt-n2 {
		margin-top: -2rem;
	}

	.mt-n3 {
		margin-top: -3rem;
	}

	.mt-n4 {
		margin-top: -4rem;
	}

	.mt-n5 {
		margin-top: -5rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.mt-n1 {
		margin-top: -1rem;
	}

	.mt-n2 {
		margin-top: -2rem;
	}

	.mt-n3 {
		margin-top: -3rem;
	}

	.mt-n4 {
		margin-top: -4rem;
	}

	.mt-n5 {
		margin-top: -5rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.mt-n1 {
		margin-top: -1rem;
	}

	.mt-n2 {
		margin-top: -2rem;
	}

	.mt-n3 {
		margin-top: -3rem;
	}

	.mt-n4 {
		margin-top: -4rem;
	}

	.mt-n5 {
		margin-top: -5rem;
	}
}

@media only screen and (min-width: 1401px) {
	.navbar-dark .navbar-nav .nav-link1 {
		font-style: normal !important;
		font-weight: 400 !important;
		font-size: 18px !important;
		line-height: 91px !important;
		margin-left: 3.5rem !important;
		text-decoration: none;
		padding-right: 0.5rem !important;
	}
	.navbar-collapse {
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 1290px) and (max-width: 1400px) {
	.navbar-dark .navbar-nav .nav-link1 {
		font-style: normal !important;
		font-weight: 400 !important;
		font-size: 18px !important;
		line-height: 91px !important;
		margin-left: 1.5rem !important;
		text-decoration: none;
		padding-right: 0.5rem !important;
	}
}
@media only screen and (max-width: 1289px) {
	.navbar-dark .navbar-nav .nav-link1 {
		font-style: normal !important;
		font-weight: 400 !important;
		font-size: 18px !important;
		line-height: 25px !important;
		margin-left: 0 !important;
		text-decoration: none;
		padding-right: 0.5rem !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.mt-n1 {
		margin-top: -1rem;
	}

	.mt-n2 {
		margin-top: -2rem;
	}

	.mt-n3 {
		margin-top: -3rem;
	}

	.mt-n4 {
		margin-top: -4rem;
	}

	.mt-n5 {
		margin-top: -5rem;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.mt-n1 {
		margin-top: -1rem;
	}

	.mt-n2 {
		margin-top: -2rem;
	}

	.mt-n3 {
		margin-top: -3rem;
	}

	.mt-n4 {
		margin-top: -4rem;
	}

	.mt-n5 {
		margin-top: -5rem;
	}
}

.dropdown-menu-noti {
	background-color: #fff !important;
	border-radius: 5px !important;
	margin-top: 10px !important;
	width: 535px !important;
}
.dropdown-menu-noti.show {
	z-index: 20000000;
	height: 800px;
	/* overflow-y: scroll; */
	/* overflow-x: unset; */
}
.dropdown-menu-noti .tab-content {
	width: 492px !important;
	margin-left: -8px;
}

.dropdown-menu {
	background-color: #232323;
	border-radius: 0px 0px 13px 12px;
	margin-top: -6px;
	/* margin-left: 15px; */
}

.dropdown-menu * {
	font-family: "mulish";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

/* .dropdown-menu .nav-item {
	padding-left: 20px;
} */
